@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@500&display=swap");
.text-peach {
  color: #e7816b;
}

.hover-text-peach:hover {
  color: #e7816b;
}

.bg-peach {
  background-color: #e7816b;
}

.hover-bg-peach:hover {
  background-color: #e7816b;
}

.text-lightpeach {
  color: #ffad98;
}

.hover-text-lightpeach:hover {
  color: #ffad98;
}

.bg-lightpeach {
  background-color: #ffad98;
}

.hover-bg-lightpeach:hover {
  background-color: #ffad98;
}

.text-lightgrey {
  color: #f1f3f5;
}

.hover-text-lightgrey:hover {
  color: #f1f3f5;
}

.bg-lightgrey {
  background-color: #f1f3f5;
}

.hover-bg-lightgrey:hover {
  background-color: #f1f3f5;
}

.text-darkgrey {
  color: #333136;
}

.hover-text-darkgrey:hover {
  color: #333136;
}

.bg-darkgrey {
  background-color: #333136;
}

.hover-bg-darkgrey:hover {
  background-color: #333136;
}

.text-white {
  color: white;
}

.hover-text-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.hover-bg-white:hover {
  background-color: white;
}

.text-black {
  color: #1d1c1e;
}

.hover-text-black:hover {
  color: #1d1c1e;
}

.bg-black {
  background-color: #1d1c1e;
}

.hover-bg-black:hover {
  background-color: #1d1c1e;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-c {
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "jost", sans-serif;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1111px;
}

.font-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.font-h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.font-h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
}

.font-h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
}

.btn-on-dark {
  color: #1d1c1e;
  background-color: white;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 21.68px;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: none;
}
.btn-on-dark:hover {
  cursor: pointer;
  color: white;
  background-color: #ffad98;
}

.btn-on-light {
  color: white;
  background-color: #e7816b;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 21.68px;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: none;
}
.btn-on-light:hover {
  cursor: pointer;
  background-color: #ffad98;
}

nav {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.oval {
  margin-right: 1rem;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background: conic-gradient(from 90deg at 50% 50%, rgba(231, 129, 107, 0.0001) 0deg, #e7816b 359.74deg, rgba(231, 129, 107, 0.0001) 360deg);
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.logo-text {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #333136;
}

.nav-link {
  margin-left: 2.5rem;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline 1px solid grey;
}

/*# sourceMappingURL=output.css.map */
