.font-body {
  font-size: $font-body;
  font-weight: 400;
  line-height: 26px;
}
.font-h1 {
  font-size: $font-h1;
  font-weight: 500;
  line-height: 48px;
}
.font-h2 {
  font-size: $font-h2;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
}
.font-h3 {
  font-size: $font-h3;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
}
