// container
$container: 1111px;

// border-radius
$border-radius: 8px;

//font sizes
$font-body: 16px;
$font-h1: 48px;
$font-h2: 40px;
$font-h3: 20px;

// colors
$peach: #e7816b;
$lightpeach: #ffad98;
$lightgrey: #f1f3f5;
$darkgrey: #333136;
$black: #1d1c1e;
$white: white;

$colors: (
  "peach": $peach,
  "lightpeach": $lightpeach,
  "lightgrey": $lightgrey,
  "darkgrey": $darkgrey,
  "white": $white,
  "black": $black,
);

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .hover-text-#{$key} {
    &:hover {
      color: $val;
    }
  }

  .bg-#{$key} {
    background-color: $val;
  }
  .hover-bg-#{$key} {
    &:hover {
      background-color: $val;
    }
  }
}
